header {
    position: fixed;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    left: 0;
    padding: 20px;
    z-index: 1000;
    justify-content: space-between;
    // background-color: rgba(0, 0, 0, 0.1);

    img {
        max-width: 150px;
        margin-left: 100px;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        justify-content: flex-end;
        width: auto;
        height: 100%;
        color: white;
        font-size: 18px;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-right: 50px;

        a {
            color: inherit;
            padding: 10px 15px;
            text-decoration: none;
            transition: background-color 0.3s;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 5px;
            }
        }

        li {
            margin: 0 10px;
            text-align: center;
            font-size: 22px;
            font-family: 'Poppins', sans-serif;
            font-weight: 100;
        }
    }
}