@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url('/src/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url('/src/assets/fonts/Poppins-ExtraLight.ttf') format('truetype');
}

$mqMinWidth: 420px;

// // Variables para media queries
$mobile: 576px; // Para móviles pequeños
$tablet: 768px; // Para tablets
$desktop: 992px; // Para pantallas de escritorio